// COLOR
$peach-color: #e7816b;
$black-color: #1d1c1e;
$white-color: #dcdcdc;
$light-peach: #ffad9b;
$dark-grey: #333136;
$light-grey: #f1f3f5db;
// ROOT
:root {
  --peach: hsl(11, 73%, 66%);
  --light-peach: hsl(11, 100%, 80%);
  --black: hsl(270, 3%, 11%);
  --dark-gray: hsl(264, 5%, 20%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(210, 17%, 95%);
}
